[submodule "libs/vafs"]
	path = libs/vafs
	url = ../../meulengracht/vali-rofs.git
[submodule "libs/zstd"]
	path = libs/compression/zstd
	url = ../../umbrella-c/zstd.git
[submodule "libs/curl"]
	path = libs/curl
	url = ../../umbrella-c/curl.git
[submodule "libs/wolfssl"]
	path = libs/wolfssl
	url = ../../umbrella-c/wolfssl.git
[submodule "libs/jansson"]
	path = libs/jansson
	url = ../../umbrella-c/jansson.git
[submodule "libs/gracht"]
	path = libs/gracht
	url = ../../meulengracht/libgracht.git
[submodule "libs/compression/zip"]
	path = libs/compression/zip
	url = ../../umbrella-c/zip.git
